/**/build
/**/dist
/**/coverage
/**/node_modules
.DS_Store
.htaccess
*.code-workspace
*-nogit
# .env

# Local Netlify folder
.netlify
.idea/.gitignore
.idea/Gerson.iml
.idea/misc.xml
.idea/modules.xml
/.idea/
